<!DOCTYPE html>
<html lang="en">
<head>
    <title>TABLES</title>
    <style>
        
    #outer,tr,td {
            border: 2px solid rgb(245, 133, 200);
            text-align: center;
            margin:0px auto;
            width: 500px 350px;
        }
    table,.one{
        border: 3px solid rgb(203, 101, 254);
        padding: 3px;
    }

        
    </style>
</head>
<body>
    <table id="outer">
        <tr>
            <td>Table1</td>   
            <td> Table1
                <table>
                    <tr>
                        <td class="one">Table2</td>
                        <td class="one">Table2</td>
                    </tr>
                    <tr>
                        <td class="one">Table2</td>
                        <td class="one">Table2</td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                This Contains a list
                <ul>item-1</ul>
                <ul>itml-2</ul>

            </td>
            <td align="center">
                Table-1
            </td>
        </tr>    
        

        
    </table>
</body>
</html>